<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>백준 현황</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    {% for user in data %}
    <div class="profile-card">
        <h2 class="name">{{ user[0] }}</h2>
        <h2 class="id">{{ user[1] }}</h2>
        <p class="tier">{{ user[2] }}</p>
        <p class="rating">AC {{ user[3] }}</p>
        <p class="solved">{{ user[4] }} 문제 해결</p>
    </div>
    {% endfor %}
</body>
<footer>
    <button onclick="window.location.href='/admin-login'">관리자 메뉴</button>
</footer>
</html>
